<form [formGroup]="invoiceForm">

  <a mat-button routerLink="/invoices">
    <mat-icon>arrow_back</mat-icon>
    Go Back To Invoices
  </a>

  <div>
    <mat-form-field>
      <mat-label>Customer*</mat-label>
      <mat-select formControlName="customer" name="customer">
        <mat-option *ngFor="let customer of customers" [value]="customer.id">
          {{customer.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="customerControl.invalid">This field is required</mat-error>
    </mat-form-field>

    <button mat-button color="primary" (click)="createCustomer()">Create New Customer</button>
  </div>

  <div formArrayName="products">
    <div *ngFor="let product of productsControl.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Product*</mat-label>
          <mat-select formControlName="product" name="product">
            <mat-option *ngFor="let product of products" [value]="product.id">
              {{product.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productsControl.controls[i].get('product').errors?.required">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantity*</mat-label>
          <input matInput type="number" min="0" formControlName="quantity">
          <mat-error *ngIf="productsControl.controls[i].get('quantity').errors?.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="productsControl.controls[i].get('quantity').errors?.min">
            Quantity should be a positive number
          </mat-error>
        </mat-form-field>

        <mat-icon color="warn" *ngIf="productsControl.length > 1" (click)="removeProduct(i)">clear</mat-icon>
      </div>
    </div>

    <div>
      <button mat-button color="primary" (click)="createProduct()">
        Create New Product
      </button>

      <button mat-button color="primary" (click)="selectProduct(productsControl.length)">
        Add One More Product
      </button>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Discount*</mat-label>
    <input matInput type="number" min="0" max="100" formControlName="discount">
    <mat-error *ngIf="discountControl.invalid">Discount should be in range [0, 100]</mat-error>
  </mat-form-field>

  <h3 class="total">Total: {{invoiceForm.valid ? total : 0}}</h3>
  <h6 class="total-help" *ngIf="invoiceForm.invalid">
    Is calculated when all required fields are filled
  </h6>
</form>
