@import "../../shared/styles/mixins/item-setup.scss";

:host {
  @include item-setup;

  mat-form-field {
    display: inline-block;
  }

  mat-icon {
    cursor: pointer;
  }

  .total {
    margin-bottom: 0;
  }

  .total-help {
    margin: 0;
    font-weight: 400;
  }

}
