<div>
  <div class="header">
    <span class="total-count">{{dataSource?.data?.length || 0}} invoice(s)</span>
    <button mat-raised-button color="primary" routerLink="/invoice/create">New Invoice</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="customer_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Id </th>
      <td mat-cell *matCellDef="let element">
        {{customerIdToCustomer.get(element.customer_id)?.name || 'Unknown User'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
      <td mat-cell *matCellDef="let element"> {{element.discount || 0}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total || 0}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="primary" [routerLink]="'/invoice/edit/' + element.id">edit</mat-icon>
        <mat-icon color="warn" (click)="removeInvoice(element)">clear</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="no-data" *ngIf="!dataSource?.data?.length">No invoice(s) yet</div>
</div>
