<form [formGroup]="customerForm">

  <mat-form-field>
    <mat-label>Name*</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="name.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address*</mat-label>
    <input matInput formControlName="address">
    <mat-error *ngIf="address.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone*</mat-label>
    <input matInput formControlName="phone">
    <mat-error *ngIf="phone.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" (click)="save()">Save</button>

</form>
