<form [formGroup]="productForm">

  <mat-form-field>
    <mat-label>Name*</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="name.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price*</mat-label>
    <input matInput formControlName="price">
    <mat-error *ngIf="price.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" (click)="save()">Save</button>

</form>
