:host {
  display: block;
  margin: 15px 25px;
  flex: 1;

  mat-drawer-container {
    height: 100%;
  }

  mat-drawer {
    width: 200px;
    border: none;
  }

  nav a {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    text-decoration: none;

    &.active {
      background: #eee;
    }
  }
}
