<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <nav>
      <div><a routerLink="/invoice" routerLinkActive="active">Invoices</a></div>
      <div><a routerLink="/customer" routerLinkActive="active">Customers</a></div>
      <div><a routerLink="/product" routerLinkActive="active">Products</a></div>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
