<div>
  <div class="header">
    <span class="total-count">{{dataSource?.data?.length || 0}} product(s)</span>
    <button mat-raised-button color="primary" routerLink="/product/create">New Product</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="primary" [routerLink]="'/product/edit/' + element.id">edit</mat-icon>
        <mat-icon color="warn" (click)="removeProduct(element)">clear</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No products yet</td>
    </tr>
  </table>

  <div class="no-data" *ngIf="!dataSource?.data?.length">No product(s) yet</div>
</div>
