@mixin item-list {
  .header {
    display: flex;
    margin: 0 10px;

    .total-count {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }

  table {
    width: 100%;
  }

  .mat-column-edit {
    width: 100px;
  }

  mat-icon {
    cursor: pointer;
    outline: none;
    margin-right: 10px;
  }

  .no-data {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
}
